
body{
    padding: 0px;
    margin: 0px;
    background-color: palevioletred;

}
.result{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.table{
    background-color: rgb(120, 58, 120);
    padding: 30px;
    width: calc(90%/6);
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    line-height: 2;
    font-family: sans-serif;
    box-shadow: 5px 5px 5px rgb(170, 106, 118);
    border-radius: 10px;
}
.table-title{
    font-size: 15px;
    color:peru;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.form-control{
    border: none;
    padding: 30px;
    background-color:rgb(120, 58, 120) ;
    margin: 20px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}
.generate{
   background-color: peru;
   border-radius: 10px;
   font-weight: bold;
   font-size: 15px;
   border: none; 
   padding: 30px 50px;
   cursor: pointer;
}
.generate:hover{
    opacity: 0.7;
}
